body  {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 100%;
  color: #61686c; 
  text-transform: uppercase;
  
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page  {
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
.filter-item {
    margin: 0;
    padding: 0;
    
    border: none;
    
    /* Для демонстрации */
    width: 260px;
    margin: 50px auto; 
  }
  
  .range-filter {
    width: 260px;
    margin-top: 49px;
  }
  
  .filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 50px;
  }
  
  .range-controls .toggle-max {
    left: 110px;
  }
  
  .price-controls {
    font-size: 0;
  }
  
  .price-controls label {
    display: inline-block;
    width: 50%;
    
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
  }
  
  .max-price {
    text-align: right;
  }

a  {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
  }
  
  .main-header {
    background-color: #eeeeee;
    
    /* Временно для демонстрации */
    height: 50px;
  }

  .slider {
    position: relative;
    background-color: #eeeeee;
  }

  .slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
  }

  .slider-controls i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    
 
    
  }

  .slider-controls i::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 50%;
  } 
  .slider-controls .active::before {
  
}

  .slider-list {
    margin: 50px;
    padding: 50px;
    
    list-style: none;
  }

  .slider-item {
    display: none;
    padding: 78px 0 80px 0;
  }
  
  .slider-item:nth-child(1) {
    display: block;
  } 
  .slider-item:nth-child(1) {
    background-image: url("img/slide-1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
  }

  .slider-item:nth-child(2) {
    background-image: url("img/slide-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
  
  .slider-item:nth-child(3) {
    background-image: url("img/slide-3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
  }
  

  .slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;  
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    
  }

  .slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
  }

  .button {
    display: block;
    width: 240px;
    padding: 13px 0;
    
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    
    background-color: #fb565a;
    border-radius: 3px;
    border: none;
  }
  
  .button:hover,
  .button:focus {
    background-color: #e74246;
  }
  
  .button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  }

h1  {
    text-align: center;
}

.grid  {
    color: #a6a6a6;
    list-style: none; 
}

.info  {
    color: #a6a6a6;
}

.features  {
    color: #a6a6a6;
    list-style: none;
}

.logo a:hover,
.logo a:focus,
.logo a:active {
    color: #a6a6a6;
}

.main-header {
    display: flex;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #eeeeee;
}

.main-navigation  {
    display: flex;
  direction: row;
  justify-content: space-between;
  padding-top: 49px;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
  background: #eeeeee;
}
.site-navigation,
.user-navigation  {
    /* display: flex;
    margin-right: 500px;
    list-style: none; */
    display: flex;
  direction: row;
  justify-content: space-between;
  width: 440px;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus  {
    color: #a6a6a6;
}


.proposals  {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
}

.proposals li {
    list-style: none;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.proposal-item  {
    text-align: center;
    display: block;
    max-width: 1280px;
    margin: 0 auto;
}

.proposals h2  {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.proposals p {
    font-size: 16px;
    line-height: 30px;
    color: #535a5e;
}

.proposal-item a  {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.page-title  {
    font-size: 55px;
    line-height: 55px;
    visibility: hidden;
}

footer  {
    display: flex;
    
}

form  {
    display: flex;
    visibility: hidden;
}

 .flex-container  {
    width: 760px;
    display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style: none;
     /* list-style: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch; */
}
/* .template-list  {
    width: 650px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  
    align-content: stretch;
    list-style: none; 
}  */ 

.main-footer h3 {
    font-family: "Roboto Bold", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.main-footer p {
    font-family: "Roboto Regular", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #444444;  
}

button  {
    width: 260px;
    height: 50;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
 }

 .grey-btn {
    width: 260px;
    height: 50;
    color: #000000;
    background-color: #eeeeee;
 }

.write  {
    width: 306px;
    height: 33px;
    font-family: Roboto;
    color: #000000;
}

/* Сетки */

 

.proposals-list  {
    display: flex;
    align-items: center;
 }

 .proposal-item1  {
    flex-direction: row;
    justify-content: space-between;
   
 }

 .proposal-item2  {
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    
 }

 .proposal-item3  {
     justify-content: space-between;
     margin: 0;
 }

 .ppl1  {
    width: 160px;
    height: 50;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
 }

 .ppl2  {
    width: 160px;
    height: 50;
    color: #ffffff;
    background-color: #00ca74;
    border: none;
 }

 .ppl3  {
    width: 160px;
    height: 50;
    color: #ffffff;
    background-color: #efc84a;
    border: none;
 }
/* сетка */
 
	

 







